/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  overflow: hidden;
  margin: 0;
  text-align: center;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}

.player {
  fill: black;
  stroke: red;
  stroke-width: 1.5;
}
